
{% extends 'base.html' %}

{% block content %}
<div class="donor-entry">
  <h2>{{ object.name }}</h2>
    <p>by {{ object.address }} | {{ object.phone_num }}</p>
    <p>{{ object.email }}</p>
    <p>{{ object.gender }}</p>
    <p>{{ object.age }}</p>
    <p>{{ object.blood_type }}</p>
  </div>

  <p><a href="{% url 'users:donor_edit' donor.pk %}">Edit</a> | <a href="{% url 'users:donor_delete' donor.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'users:donor_list' %}">All Donors</a>.</p>
{% endblock content %}
