{% extends 'base.html' %}

{% block content %}
<div class="recipient-entry">
    <h3>Recipient Request Details:</h3>
    <br/>
    <p><strong> Recipient name: </strong>{{ object.name }}</p>
    <p><strong> Address: </strong>{{ object.address }}</p>
    <p><strong> Phone Num: </strong>{{ object.phone_num }}</p>
    <p><strong> Email: </strong>{{ object.email }}</p>
    <p><strong> Date of Request: </strong>{{ object.date_of_request }}</p>
    <p><strong> Fulfillment date: </strong>{{ object.date_of_accepted }}</p>
    <p><strong> Blood Type: </strong>{{ object.blood_type }}</p>
    <br/>
    <p>
        <a href="{% url 'users:recipient_edit' recipient.pk %}">Edit</a> |
        <a href="{% url 'users:recipient_delete' recipient.pk %}">Delete</a>
    </p>
    <p>Back to <a href="{% url 'users:recipient_list' %}">All Recipients</a></p>
    {% endblock content %}
