{% extends 'base.html' %}

{% block title %}Recipients{% endblock title %}

{% block content %}
{% for recipient in object_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ recipient.name }} </span>
    </div>
    <div class="card-body">
        <p>Phone Num: {{ recipient.phone_num }} </p>
        <p>Address : {{recipient.address}}</p>
        <p>Blood Type: {{ recipient.blood_type }}</p>
        <p>Date of Request: {{ recipient.date_of_request }}</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'users:recipient_edit' recipient.pk %}">Edit</a> |
        <a href="{% url 'users:recipient_delete' recipient.pk %}">Delete</a>
    </div>
</div>
<br/>
{% endfor %}
{% endblock content %}
